<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-title class="first"> Login Information </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            <p><strong>Disclaimer:</strong></p>
            <p>
              1. This site is created by MAPFRE Insurance Corporation for the
              submission of required Valid ID(s).
            </p>
            <p>
              2. All IDs presented should be within their validity period, clearly
              readable, untampered, and consistent with the information provided
              in the relevant application form(s) submitted.
            </p>
            <p>
              3. Submission of derogative, obscene, and inappropriate materials
              will be dealt with accordingly under existing laws, rules,
              regulations, and jurisprudence.
            </p>
            <p>
              4. MAPFRE Insurance Corporation reserves the right to request for
              additional supporting documents and/or information as deemed
              necessary.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Client Type</mat-label>
            <mat-select
              formControlName="documentType"
              [(ngModel)]="defaultDocumentCode"
              required
            >
              <mat-option
                *ngFor="let list of documentIdList"
                [value]="list.TIP_DOCUM"
              >
                {{ list.NOM_DOCUM }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>MIID</mat-label>
            <input
              oninput="this.value = this.value.toUpperCase()"
              formControlName="documentCode"
              maxlength="20"
              matInput
              required
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <div *ngIf="!this.formGroup.invalid">
        <button mat-raised-button color="primary" (click)="_generateOTP()">
          Generate OTP
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
