<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-title class="first"> One-Time Password </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            <p>
              <strong>Note:</strong> You will receive an email containing your
              OTP. Please encode the generated OTP within 30 minutes. Click
              <strong>Resend OTP</strong> if you haven't receive OTP.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>One-Time Password</mat-label>
            <input formControlName="otp" maxlength="6" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div>
            <button mat-raised-button color="basic" (click)="_resendOTP()">
              Resend OTP
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <div *ngIf="!this.formGroup.invalid">
        <button mat-raised-button color="primary" (click)="_verifyOTP()">
          Verify OTP
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
