<app-header></app-header>

<div class="container-fluid">
  <div class="container">
    <img
      class="updocs-logo"
      src="assets/images/mapfre/updocs-logo.png"
      alt="Updocs"
      title="Updocs"
    />

    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="documentFG" label="Login">
        <app-document
          [formGroup]="documentFG"
          (generateOTP)="generateOTP()"
        ></app-document>
      </mat-step>

      <mat-step [stepControl]="otpFG" label="Verify OTP">
        <app-otp
          [formGroup]="otpFG"
          [documentFG]="documentFG"
          (resendOTP)="resendOTP()"
          (verifyOTP)="verifyOTP()"
          [clientName]="clientName"
          [clientEmail]="clientEmail"
        ></app-otp>
      </mat-step>

      <mat-step [stepControl]="uploadFG" label="Upload">
        <app-upload-file
          [formGroup]="uploadFG"
          (selectedFile)="getSelectedFile($event)"
          (upload)="upload()"
          [clientName]="clientName"
          [clientEmail]="clientEmail"
        ></app-upload-file>
      </mat-step>

      <mat-step [stepControl]="fg" label="Success">
        <app-success [formGroup]="fg"></app-success>
      </mat-step>
    </mat-stepper>
  </div>
</div>

<app-footer></app-footer>
