.file-name {
  padding: 10px 17px;
}

.list-id {
  text-decoration: underline;
  cursor: pointer;
}

.allowed-id-list {
  margin-top: 10px;
}

.fa.fa-circle-info {
  font-size: 20px;
  color: #98d0dd;
  margin-left: 10px;
  cursor: pointer;
}
