<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-title class="first">
      Upload your Identification Card
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            <p>
              <strong>Important Reminder:</strong> We require clients to submit
              <strong>1 valid</strong> government issued ID not more than <strong>10MB</strong> in size. 
              
            </p>
            <p class="list-id" (click)="showIDList = !showIDList">
              {{ showIDList ? "Hide" : "Show" }} list of allowed IDs
              {{showIDList ? '&#171;' : '&#187;'}}
            </p>
            <div class="allowed-id-list" *ngIf="showIDList">
              <ul>
                <li>Passport</li>
                <li>Driver’s License</li>
                <li>PRC ID</li>
                <li>NBI Clearance</li>
                <li>Police Clearance</li>
                <li>Postal ID</li>
                <li>Voter’s ID</li>
                <li>TIN</li>
                <li>Barangay Certification</li>
                <li>GSIS e-Card/UMID</li>
                <li>SSS</li>
                <li>Senior Citizen Card</li>
                <li>Overseas Workers Welfare Administration(OWWA) ID</li>
                <li>OFW ID</li>
                <li>Seaman’s Book</li>
                <li>Alien/Immigrant Certification of Registration</li>
                <li>Gov’t Office/GOCC ID</li>
                <li>
                  Certification from National Council for the Welfare of
                  Disabled Persons(NCWDP)
                </li>
                <li>
                  Department of Social Welfare and Development
                  (DSWD)Certification
                </li>
                <li>Integrated Bar of the Philippines (IBP) ID</li>
                <li>Company ID</li>
                <li>Student’s ID</li>
                <li>National ID</li>
                <li>SEC Certificate of Registration</li>
                <li>Business Registration Certificate</li>
                <li>Philhealth ID</li>
                <li>
                  Others (subject to review/validation by MAPFRE Insular
                  Insurance Corporation)
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <p>You are about to upload ID for client <strong>{{clientName}}</strong> with an email of <strong>{{clientEmail}}</strong>.</p>
        </div>

        <div class="col-md-6">
          <button
            mat-raised-button
            color="basic"
            class="uploadBtn"
            type="button"
            (click)="fileInput.click()"
          >
            Upload ID Photo
          </button>

          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            type="file"
            accept="image/*, application/pdf, .doc, .docx"
          />
          <div class="file-name">{{ uploadFile?.name }}</div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <div *ngIf="hasFile">
        <button mat-raised-button color="primary" (click)="_upload()">
          Upload
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
